body
{
    margin: 4px;
    background-color: rgb(232, 231, 231);
}

label
{
    margin-top: 15px;
}

h4
{
    font-weight: bold;
    color: gray;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.link
{
    text-decoration: underline;
    color: gray;
}

.alert
{
    padding: 8px;
}

.debit
{
    color: red;
}

.message
{
    margin: 5px;
}

.shadow
{
    box-shadow: 3px 3px 6px rgba(0,0,0,.175);
}

.form-control.ng-invalid.ng-touched
{
    background: no-repeat right center;
    background-image: url(/assets/images/invalid.png);
    background-color: #ffffff;
}

.form-control.ng-invalid.ng-dirty
{
    background: no-repeat right center;
    background-image: url(/assets/images/invalid.png);
    background-color: #ffffff;
}

.form-control.ng-dirty.ng-valid.ng-touched
{
    background: no-repeat right center;
    background-image: url(/assets/images/ok.jpg);
    background-color: #ffffff;
}

.form-control.ng-untouched.ng-pristine.ng-invalid
{
    border-right: none; 
    background-color: #ffffff;
}

.error
{
    float: right;
    padding-top: 2px;
    font-size: 80%;
    color: red;
}