<div id="overlay" [hidden]="!isBusy">
  <img id="busy-indicator" src="/assets/images/loading.gif"/>
</div>

<div class="top-header">
  <div class="row">
    <div class="col-xs-7 col-sm-9 col-md-12 col-lg-12">
      <div id="site-logo"></div>
    </div>
    <div class="col-xs-5 col-sm-6 col-md-12 col-lg-12">
      <main-menu></main-menu>
    </div>
  </div>
</div>

<br/>

<div *ngIf="!displayError" class="main-panel" (click)="hideMenu($event)">
  <router-outlet></router-outlet>
</div>

<div *ngIf="displayError" class="error-view">
  <div class="alert alert-danger">We were unable to process your request.</div>
</div>

<div class="footer center col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <a href="">Security</a> 
  <a href="">Privacy</a>   
  <a href="">Locations</a> 
  <a href="">Contact Us</a>
</div>