
#user-name
{
	float: right;
}

.top-header h1
{
	text-align: center;
}

.main-panel
{
	text-align: left;
	margin-bottom: 20px;
}

#overlay 
{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer;
}

@media screen and (max-width: 414px)
{
	#busy-indicator
	{
		position: fixed;
		width: 101%;
		border: none;
		height: 8px;
		margin-left: -2px;
		border-bottom: 1px solid gray;
	}

	.top-header
	{
		border-bottom: 5px solid rgb(191, 31, 31);
	}
    #site-logo
	{
		margin-top: 10px;
		margin-right: -30px;
		background-image: url('/assets/images/logo.png');
		background-repeat: no-repeat;
		height: 35px;
		width: 157px;
	}

	.main-panel
	{
		min-height: 500px;
	}

	.error-view
	{
		margin-top: 50%;
		text-align: center;
		padding: 10px;
		min-height: 350px;
	}

	.error-view div
	{
		box-shadow: 3px 3px 6px rgba(0,0,0,.175);
	}

	.footer
	{
		text-align: center;
		min-height: 200px;
		background-color: silver;
		padding: 5px;
		font-size: small;
		border-top: 1px solid rgb(140, 139, 139);
	}

	.footer a
	{
		padding-top: 10px;
		margin-right: 10px;
	}
}

@media screen and (min-width: 415px)
{
	#site-logo
	{
		background-image: url('/assets/images/logo.png');
		background-repeat: no-repeat;
		height: 35px;
		width: 157px;
		float:left;
	}

	.main-panel
	{
		min-height: 600px;
	}
}