<div class="main-menu">
	<div id="main-menu-icon" (click)="toggleMenu($event)"></div>
	<ul id="main-menu-body">
		<li *ngIf="userName"><a routerLink = "/" (click) = "logOut()">Log out {{ userName }}</a></li>
		<li *ngFor="let menuOption of menuOptions"><a routerLink = "{{menuOption.route}}" (click)="toggleMenu($event)" >{{menuOption.caption}}</a></li>
	</ul>
</div>
