.main-menu
{
	margin-top: 10px;
	font-weight: bold;
}

.main-menu li
{
	list-style-type: none;
}

.main-menu a
{
	text-decoration: none;
	color: #ffffff;
}

@media screen and (max-width: 414px)
{
    #main-menu-icon
	{
		margin-top: 5px;
		background-image: url('/assets/images/hamburger.png');
		background-repeat: no-repeat;
		width: 48px;
		height: 40px;
		float: right;
		margin-right: -15px;
	}

	.main-menu ul
	{
		display: none;
		z-index: 99999;
		position: absolute;
		top: 40px; left: -50px;
		margin-top: 5px;
		padding-top: 10px;
		min-height: 550px;
		background-color: #337ab7;
		border: 1px solid #255b87;
		width: 200px;
		box-shadow: 6px 6px 12px rgba(0,0,0,.175);
		border-radius: 5px;
	}

	.main-menu a
	{
		font-weight: normal;
		font-size: 16px;
		line-height: 40px;
	}
}

@media screen and (min-width: 415px)
{
	#main-menu-icon
	{
		display: none;
	}
	
	.main-menu  ul
	{
		display: none;
	}
	
	.main-menu li
	{
		display: none;
	}
}