<h4 class="center">Account Details</h4>

<div *ngIf="BankAccount" class="account-container">
    <div class="row">
        <div class="col-xs-6">Number:</div>
        <div class="col-xs-6">{{ BankAccount.referenceNumber }}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Description:</div>
        <div class="col-xs-6">{{BankAccount.description}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Type:</div>
        <div class="col-xs-6">{{BankAccount.type.description}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">Balance:</div>
        <div class="col-xs-6"><strong>{{ BankAccount.balance | currency }}</strong></div>
    </div>
</div>

<div class="transaction-container">

    <div *ngIf="Message" class="message row">

        <br/>
        <div class="alert alert-warning center shadow">
            {{ Message }}
        </div>

    </div>

    <table id="transaction-list" *ngIf="Message == ''" class="table table-condensed table-striped table-bordered">

        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Status</th>
                <th style="text-align: right;">Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let transaction of Transactions">
                <td>{{transaction.date | date:'MM/dd/yyyy'}}</td>
                <td>{{transaction.description}}</td>
                <td></td>
                <td align="right">{{transaction.amount | currency}}</td>
            </tr>
        </tbody>

    </table>

</div>

<br/>

<div class="row center">
    <button type="button" routerLink="/accounts" class="btn btn-primary shadow">Back to Accounts</button>
</div>