.account-list
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.account-list .row
{
    background-color: #ffffff;
    margin: 0px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.account-list a
{
    color: #000000;
    cursor: pointer;
}