<div class="list">

    <h4 class="center">Accounts Summary</h4>
    <br/>

    <div [hidden]="BankAccounts" class="center">No accounts</div>

    <div class="account-list" *ngFor="let account of BankAccounts">
        
        <a [routerLink]="['/account-details', account.id]">
            <div class="row">
                <div class="col-xs-12">{{ account.type.description }}</div>
                <div class="col-xs-6">{{ account.description }}</div>
                <div class="col-xs-6 right bold link">
                    <span *ngIf="account.type.isDebit">-</span>
                    {{ account.balance  | currency:'USD':'true':'1.2-2' }}
                </div>
            </div>
        </a>

    </div>

</div>