table#transaction-list
{
    margin-top: 20px;
}

.account-container
{
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px rgba(0,0,0,.175);
    border: 1px solid silver;
    border-radius: 7px;
}

.transaction-container
{
    margin: 5px;
}

.table
{
    box-shadow: 3px 3px 6px rgba(0,0,0,.175);
}