.login-container
{
	padding: 15px;	
	margin-bottom: 30px;
	min-height: 350px;
	background-color: #ffffffc2;
	box-shadow: 3px 3px 6px rgba(0,0,0,.175);
	border: 1 px solid rgba(192, 192, 192, 0.693);
	border-radius: 6px;
}

.login-container h4
{
	text-align: center;
}