
<div class="login-container col-xm-12 col-sm-8 col-md-6 col-lg-3">
	
	<h4>{{title}}</h4>

	<div class="center" *ngIf="errorMessage">
		<br/>
		<span class="col-xs-12 col-sm-12 center alert alert-danger">{{ errorMessage }}</span>
		<br/><br/>
	</div>

	<label>E-Mail:</label>
	<input type="text" class="form-control" [(ngModel)]="email" />

	<label>Password:</label>
	<input type="password" class="form-control"  [(ngModel)]="password" />

	<br/>
	<button type="button" class="btn btn-primary col-xs-12" (click)="login()">Sign In</button>

	<br/><br/><br/>
	<div class="center">
		<a href="">Reset Password</a><br/>
		<a href="/register">Register</a>
	</div>

</div>