
<form [formGroup]="regForm">



    <div class="login-container col-xm-12 col-sm-8 col-md-6 col-lg-3">
        
        <h4 class="center">{{title}}</h4>

        <div class="center" *ngIf="errorMessage">
            <br/>
            <span class="col-xs-12 col-sm-12 center alert alert-danger">{{ errorMessage }}</span>
            <br/><br/>
        </div>

        <label>First Name:</label>
        <input formControlName="firstName" required class="form-control" />
        
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error">
            <div *ngIf="firstName.errors.required">Required</div>
        </div> 

        <label>Last Name:</label>
        <input formControlName="lastName" required class="form-control" />
        
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
            <div *ngIf="lastName.errors.required">Required</div>
        </div>

        <label>E-Mail:</label>
        <input formControlName="email" required class="form-control" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
            <div *ngIf="email.errors.required">Required</div>
        </div>

        <label>E-Mail Confirmation:</label>
        <input formControlName="emailConfirmation" required class="form-control" />
        <div *ngIf="emailConfirmation.invalid && (emailConfirmation.dirty || emailConfirmation.touched)" class="error">
            <div *ngIf="emailConfirmation.errors.required">Required</div>
        </div>

        <label>Password:</label>
        <input type="password" formControlName="password" required class="form-control" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors.required">Required</div>
        </div>

        <label>Password Confirmation:</label>
        <input type="password" formControlName="passwordConfirmation" required class="form-control" />
        <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)" class="error">
            <div *ngIf="passwordConfirmation.errors.required">Required</div>
        </div>

        <br/>
        <button type="submit" [disabled]="regForm.invalid" class="btn btn-primary col-xs-12" (click)="register()">Register</button>
        <br/>

    </div>

</form>

